<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
Id:
<p th:text="${user.getId()}">id</p>

First Name:
<p th:text="${user.getFirstName()}">firstName</p>

Last Name:
<p th:text="${user.getLastName()}">lastName</p>

Age:
<p th:text="${user.getAge()}">age</p>

Email:
<p th:text="${user.getEmail()}">email</p>

Password:
<p th:text="${user.getPassword()}">password</p>

<div>
    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
    <form th:method="POST" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>

<br><br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>